# 이 노트북은 `Rumor-has-it` 중 3 개의 Dataset (airfrance.txt, michelle.txt, and palin.txt)를 가져와 작업한다.

In [14]:
import pandas as pd
import numpy as np
from glob2 import glob
import json

# import nltk; nltk.download('punkt'); nltk.download('averaged_perceptron_tagger')
# import re
# from nltk.corpus import stopwords as stp
# from nltk.stem.porter import PorterStemmer

# import gensim
# import gensim.models.word2vec as w2v
# from gensim.test.utils import common_texts
# from gensim.models.doc2vec import Doc2Vec, TaggedDocument

In [15]:
!ls ../rumor_has_it/data/

README.md     cell-ids.txt  obama-ids.txt
airfrance.txt michelle.txt  palin.txt

In [36]:
"../rumor_has_it/data/{}.txt".format(event)

'../rumor_has_it/data/                     time             id  \\\n0     2009-07-03 19:59:33        donbart   \n1     2009-07-04 01:37:35    davidcorndc   \n2     2009-07-05 01:20:02      geoff9cow   \n3     2009-07-19 06:06:50       tahdeetz   \n4     2009-07-05 13:52:12      geoff9cow   \n...                   ...            ...   \n4418  2009-12-11 04:40:09       oscaroes   \n4419  2009-12-08 21:18:49          milo9   \n4420  2009-12-30 17:16:58  twt_political   \n4421  2009-12-09 09:05:08         jazgar   \n4422  2009-12-30 01:01:48         jdotts   \n\n                                                   text  isRumor  \n0     RT @jeffjarvis: Place your bets: Baby? Breakdo...       13  \n1     Don\'t know about this @LippyLauri: RT @schilli...       13  \n2     RT @AblativMeatshld The public has a right 2 l...        0  \n3     Hey Lib/Marxists, Consider the Divorce!! #tcot...        0  \n4     RT @AblativMeatshld: @geoff9cow divorce of som...        0  \n...                                                 ...      ...  \n4418  Tiger is seen to get divorced, while Hillary i...        0  \n4419  RT @crooksandliars New at C&L: "There Was A Lo...       11  \n4420  Rove to divorce, Palin custody, underwear bomb...        0  \n4421  There Was A Lot Of Talk About Divorce In The P...       11  \n4422  news on CNN today: Karl Rove got a divorce and...        0  \n\n[4423 rows x 4 columns].txt'

In [87]:
events = ['airfrance','michelle','palin']
# print(events[1])
events_dfs = []
for i, event in enumerate(events):
    path = f"../rumor_has_it/data/{events[i]}.txt"
    temp = pd.read_csv(path, sep='\t',names=['time', 'id', 'text','isRumor'])
    temp["Event"] = events[i]
    events_dfs.append(temp)
    temp.loc[temp.isRumor > 0, 'isRumor'] = 1

In [88]:
dataset = pd.concat(events_dfs)

In [91]:
dataset.sample(5)

,time,id,text,isRumor,Event
218,2009-06-21 00:30:46,failtracker,RT @julio_r: Epic FAIL!!! El video de PAT Noti...,1,airfrance
1754,2009-08-01 21:21:35,northwestfire,RT @Fingertipnews: RT @MPOTheHill: Palin camp ...,1,palin
907,2009-08-03 23:07:30,moneycoach76,"Sarah Palin Getting a Divorce, Types Person wi...",1,palin
2167,2009-08-02 17:42:50,phillipalden,So Todd and Sarah Palin are getting a divorce....,1,palin
152,2009-06-28 10:15:29,simonbarker,RT @FreshPlastic: Newscast shows pictures from...,1,airfrance

In [92]:
dataset.count()

time       5227
id         5227
text       5227
isRumor    5227
Event      5227
dtype: int64

In [12]:
dataset.value_counts('isRumor')#.plot(kind='bar')

isRumor
1    4752
0     475
dtype: int64

In [93]:
dataset.to_csv('./data/_RHS_text.csv', index = False)